<% layout("/layouts/boilerplate.ejs") %>
<form
  action="/listings"
  method="POST"
  class="needs-validation"
  novalidate
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      id="title"
      placeholder="Title"
      name="listing[title]"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please provide a title.</div>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="text"
      id="price"
      placeholder="Price"
      name="listing[price]"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please provide a valid price.</div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      id="description"
      name="listing[description]"
      placeholder="Describe your listing"
      class="form-control"
      required
    ></textarea>
    <div class="invalid-feedback">Please provide a description.</div>
  </div>

  <div class="mb-3">
    <label for="image">Upload Image</label>
    <input
      type="file"
      id="image"
      name="listing[image]"
      class="form-control"
      required
    />

    <div class="invalid-feedback">Please provide a image.</div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      id="location"
      placeholder="Location"
      name="listing[location]"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please provide a location.</div>
  </div>

  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input
      type="text"
      id="country"
      placeholder="Country"
      name="listing[country]"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please provide a country.</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
